<% provide(:title, @user.nick_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
       <h2><%= @user.formatted_email %></h2>
      </h1>
    </section>
  </aside>
</div>

